name: Build Host Workspace

jobs:
  reusable_workflow_job:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4

    - name: Maximize Build Space
      uses: ./.github/workflows/maximize-build-space

    - name: Show available storage
      run:  |
            echo "Available storage:"
            df -h

    - name: Install vcs
      run: pip3 install vcstool

    - name: Prepare thirdparty repos
      run: ./setup-dependency.sh

    - name: Build images
      shell: bash
      run: ./build-docker.sh -o