name: Build People Docker Image without Push

on:
  push:
    branches: [ muratams/test-workflow ]
    paths:
      - '.github/workflows/build-docker-image.yaml'
      - '**'
      - '!docker/home/**'
      - '!docker/*.sh'
      - '!docker/timezone/**'
      - '!docker/uid/**'

jobs:
  build-free-space-people-realsense:
    uses: ./.github/workflows/build-free-space.yaml@muratams/test-workflow
    with:
      prebuild-name: people
      build-name: people
      push-name: people
      camera-target: realsense
      tag-name: ros2-dev-latest

  build-free-space-people-framos:
    uses: ./.github/workflows/build-free-space.yaml@muratams/test-workflow
    with:
      prebuild-name: people
      build-name: people
      push-name: people
      camera-target: framos
      tag-name: ros2-dev-latest

  build-on-lvm-people-realsense:
    uses: ./.github/workflows/build-on-lvm.yaml@muratams/test-workflow
    with:
      prebuild-name: people
      build-name: people
      push-name: people
      camera-target: realsense
      tag-name: ros2-dev-latest

  build-on-lvm-people-framos:
    uses: ./.github/workflows/build-on-lvm.yaml@muratams/test-workflow
    with:
      prebuild-name: people
      build-name: people
      push-name: people
      camera-target: framos
      tag-name: ros2-dev-latest

  build-on-temp-people-realsense:
    uses: ./.github/workflows/build-on-temp.yaml@muratams/test-workflow
    with:
      prebuild-name: people
      build-name: people
      push-name: people
      camera-target: realsense
      tag-name: ros2-dev-latest

  build-on-temp-people-framos:
    uses: ./.github/workflows/build-on-temp.yaml@muratams/test-workflow
    with:
      prebuild-name: people
      build-name: people
      push-name: people
      camera-target: framos
      tag-name: ros2-dev-latest