name: Build

on:
  workflow_call:
    inputs:
      prebuild-name:
        required: true
        type: string
      build-name:
        required: true
        type: string
      camera-target:
        required: false
        type: string
        default: "realsense framos"
      push-name:
        required: true
        type: string
      tag-name:
        required: true
        type: string
      push-sha:
        required: false
        type: string
        default: true

jobs:
  reusable_workflow_job:
    runs-on: ubuntu-20.04
    steps:
    - name: Maximize Build Space
      run:  |
        docker system prune -a --volumes -f
        sudo apt purge -y \
          aspnetcore* \
          azure-cli* \
          dotnet-* \
          firefox* \
          google-chrome-stable* \
          google-cloud-sdk* \
          llvm* \
          mongodb* \
          mysql* \
          php* \
        sudo apt-get autoremove -y >/dev/null 2>&1 || true
        sudo apt-get autoclean -y >/dev/null 2>&1 || true
        sudo rm -rf /usr/local/lib/android # will release about 10 GB if you don't need Android
        sudo rm -rf /usr/share/dotnet # will release about 20GB if you don't need .NET
        sudo rm -rf /opt/ghc
        echo "Available storage:"
        df -h

    - name: Show available storage
      run:  |
            echo "Available storage:"
            df -h

    - uses: actions/checkout@v4

    - name: Install vcs
      run: pip3 install vcstool

    - name: Prepare thirdparty repos
      run: ./setup-dependency.sh

    - name: Build images
      shell: bash
      run: ./build-docker.sh -p ${{ inputs.prebuild-name }} -i -w ${{ inputs.build-name }} -c ${{ inputs.camera-target }}